@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
   margin: 0;
}

.border-right{
    border-right: 0.5px solid rgba(255, 255, 255, 0.50)
}
.border-bottom{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.50)
}
.border-bottomSecond{
    border-bottom:1px solid #52514E ;
}
.boxshadow{
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25) inset;
}
.boxshadowYellow{
    box-shadow: 0px 0px 4px 0px rgba(230, 193, 0, 0.25) inset;
}
li::marker {
    color: #8B8B8B;
  }



  /* The entire scrollbar */
::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
    scrollbar-width: thin;
}

/* The scrollbar track */
::-webkit-scrollbar-track {
    background: #141518; /* Color of the track */
}

/* The scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #383733; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovered */
}
select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none;
  }
  
  /* Adds a custom arrow (you can adjust as needed) */
  select::after {
    content: '▼'; /* or use an SVG icon */
    font-size: 12px;
    color: #34A853;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }